/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*font-family: 'Raleway', sans-serif;*/
	/*text-align: center;*/
	/*background-color: #232323;*/
	color: white;
	overflow-x: hidden;
}
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.5);
	/* Black w/ opacity */
	z-index: 99999;
	opacity: 0;
	pointer-events: none;
	color: white;

}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	width: 50rem;
	hieght: 50rem;
	position: relative;
	margin: 30vh auto;
	padding: 4em;
	background: rgba(0, 0, 0, 0.9);
	/*text-align: center;*/
	/*border: 2px solid #00ff6c;*/
}

.modalDialog a {
	color: #fff;
}

.close {
	background: #606061;
	color: #FFF;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 24px;
	text-decoration: none;
	font-weight: 300;
}

.close:hover {
	background: #00ff6c;
}